body {
    margin: auto;
    font-family: Helvetica;
}

/* nav bar */
#navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#carti-logo {
    width: 15%;
}

a {
    text-decoration: 0;
    color: azure;
    font-size: 20px;
    font-weight: bold;
}
a:hover {
    color: red;
}

#header-menu {
    display:flex;
    gap: 30px;
    margin-right: 150px;
}
/*nav bar*/

/* header */ 
#header {
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subheader {
    display: flex;
    gap: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
    
    
    
}
#text-subheader {
    align-self: center;
}


h1 {
    margin: 0;
}
h1:hover {
    color:red;
}
h1, h2 {
    color: azure;
}

#wlr-album {
    width: 400px;
    height: auto;
}

#btn-block {
    display: flex;
    border: 3px solid azure;
    color: azure;
    background-color: black;
    padding: 5px;
    gap: 5px;
    width: 15%;
    border-radius: 5px;
}

#btn-block:hover {
    color:red;
    border-color: red;
}
#listen-text {
    font-size: 18px;
}

#spotify-logo {
    height: 20px;
    width: auto;
}

/* content */
#content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#release-box {
    display:flex;
    gap: 80px;
}

.album-block {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.albcover {
    height: 250px;
    width: auto;
    
}
.albcover:hover {
    box-shadow: 5px 5px 18px #888888;
    
}

#content-title { 
    color: black;

}

.title-album {
    align-self: center;
}
/* CONTENT */

/* QUOTE */

#quote-block {
    background-color: black;
    height: 450px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#quote-box {
    display:flex;
    justify-content: center;
}

#quote {
    color: white;
    font-size: 32px;
    
}
#quote-author {
    color: white;
    font-size: 20px;
}
#quote-author:hover {
    color:red;
}

/* QUOTE */

/* SIGN UP */

#signup-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    
}

#signup-box {
    display: flex;
    height: 150px;
    width: 1300px;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

}
#s-text {
    color: white;
    margin: 6px 0px;
}

#s-button {

    border: 3px solid azure;
    color: azure;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;

}

#s-button:hover {
    border-color: red;
    color: red;
}

/* SIGN UP */

/* FOOTER */
#footer {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f-text {
    color: white;
}



/* FOOTER */

