body {
    margin: auto;
    font-family: Helvetica;
}

#navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#carti-logo {
    width: 15%;
}

a {
    text-decoration: 0;
    color: azure;
    font-size: 20px;
    font-weight: bold;
}
a:hover {
    color: red;
}

#header-menu {
    display:flex;
    gap: 30px;
    margin-right: 150px;
}



#header {
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subheader {
    display: flex;
    gap: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
    
    
    
}
#text-subheader {
    align-self: center;
}


h1 {
    margin: 0;
}
h1:hover {
    color:red;
}
h1, h2 {
    color: azure;
}

#wlr-album {
    width: 400px;
    height: auto;
}



